/* Nav */

.navbar{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: orange;
}

.navbar div{
    justify-content:right;
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
 }
 
 .nav-ul a{
     color: aliceblue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    
}

.img-logo{
    height: 100px;
    width: 100px;
    margin:10px;
}

/* Header Index*/


h1{
    margin: 20px;
    text-align: center;
} 

.header-index{
    background-color: orange;
}

/* footer */

footer{
    background-color: orange;
    align-items: center;
    text-align: center;
}

.img-footer{
    width: 50px;
    height: 50px;
}

