* {
    margin: 0;
    padding: 0;
}

/* Nav */

.navbar {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}

.navbar div {
    justify-content: right;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-ul a {
    color: aliceblue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;

}

.img-logo {
    height: 100px;
    width: 100px;
    margin: 10px;
}

/* Header Index*/


h1 {
    margin: 50px 0 50px 0;
    text-align: center;
}
.h1{
    background-color: orange;
    color: white;
}

.header-index {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-principal-index {
    width: 80%;
    height: 600px;
    overflow: hidden;
    margin-top: 100px;
}

.main-index {
    margin: 20px;
    padding: 0 0 0 0;
    justify-content: center;
    width: 819.6px;
    height: 400px;
    display: flex;
    align-items: center;
}

.sec-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: orange;
}

.grilla {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows:repeat(2, 1fr);
    height: 2fr;
    width: 800px;
    grid-template-areas:
        "header header section"
        "article aside aside"
    ;
}

.grilla header {
    grid-area: header;
    width: 600px;
}

.grilla section {
    grid-area: section;
    width: 300px;
}

.grilla article {
    grid-area: article;
    width: 300px;
}

.grilla aside {
    grid-area: aside;
    width: 600px;
}

.grilla header img {
    width: 600px;
    height: 200px;
}

.grilla section img {
    width: 300px;
    height: 200px;
}

.grilla article img {
    width: 300px;
    height: 200px;

}

.grilla aside img {
    width: 560px;
    height: 200px;
}

/* All Valley */

.main-all-valley{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-top: 75px;
    margin-bottom: 75px;
    height: 200px;
}

.main-all-valley img{
    height: 100px;
    width: 200px;
}

.videos video{
    height: 100px;
    width: 200px;
}


.div-torneo{
    text-align: left;
}

.campeones-all-valley{
    display: flex;
    align-items: center;
    justify-content: center;
}

.campeones-all-valley img{
    width: 100px;
    height: 100px;
}

.li-lawrence{
    background-color: black;
    border: 4px solid yellow;
    width: 275px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-larusso{
    border: 4px solid orange;
    color: orange;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-xander{
    background-color: blue;
    border: 4px solid red;
    width: 275px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-diaz{
    background-color: black;
    border: 4px solid yellow;
    width: 275px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-hawk{
    border: 4px solid orange;
    color: orange;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-nichols{
    background-color: black;
    border: 4px solid yellow;
    width: 275px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



/* footer */

footer {
    background-color: rgb(222, 179, 8);
    align-items: center;
    text-align: center;
}

.img-footer {
    width: 50px;
    height: 50px;
}